<ion-header [translucent]="true">
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">

  <div id="container">
    <!-- Contenedor de las nubes -->
    <div class="clouds">
      <div class="cloud cloud3"></div>
      <div class="cloud cloud1"></div>
      <div class="cloud cloud2"></div>
      <div class="cloud cloud4"></div>
      <div class="cloud cloud5"></div>
    </div>

    <div class="contenedorInfo">
      <h3>TO-DO LIST</h3>
      <hr>
      <!--State-->
      <h5 class="centerTxt">Task status</h5>
      <div class="gridTxt">
        <div class="iconTxtDs">
          <img class="iconYellow" src="/assets/icons/Star1.png" alt>
          <p>Completed</p>
        </div>

        <div class="iconTxtDs">
          <img class="iconGray" src="/assets/icons/Star2.png" alt>
          <p>Pending</p>
        </div>
      </div>

      <!-- search and add -->
      <ion-grid style="width: 100%;">
        <ion-row>
          <ion-col>
            <input class="inputSearch" type="text" name="Search">
          </ion-col>

          <ion-col size="auto">
            <button class="btnAdd"> <img class="iconAdd"
                src="/assets/icons/mas.png" alt> </button>

          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- CARD 1 -->
      <ion-card>
        <ion-grid [fixed]="true">
          <ion-row>
            <!-- first column -->
            <ion-col size="10">
              <ion-card-header>
                <!-- <ion-card-title>Laundry</ion-card-title> -->
                <ion-card-subtitle>Laundry</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="ionContent">
                Here's a small text description for the card content.
              </ion-card-content>

            </ion-col>

            <!-- Second column -->
            <ion-col class="centrarItem">
              <img class="iconYellow" src="/assets/icons/Star1.png" alt>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card>

      <!-- CARD 2 -->
      <ion-card>
        <ion-grid [fixed]="true">
          <ion-row>
            <!-- first column -->
            <ion-col size="10">
              <ion-card-header>
                <ion-card-subtitle>History Exam</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="ionContent">
                Here's a small text description for the card content.
              </ion-card-content>

            </ion-col>

            <!-- Second column -->
            <ion-col class="centrarItem">
              <img class="iconYellow" src="/assets/icons/Star1.png" alt>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>

</ion-content>